#headerName{
    display: block;
    text-align: center;
    margin: 1% auto;
}

#frame{
    position: absolute;
    left:3em;
    top:5em;
    background-image: url("../image/frame.png");
    width: 545px;
    height: 629px;
    overflow: hidden;
}

#picture-box{
    position: relative;
    top:84px;
    left: 91px;
    width:367px;
    height: 460px;
    overflow: hidden;
    border: solid darkred 2px;
}

.face{
    position: relative;
    top: 0;
    left: 0;
}

#monsterHead{
    height: 172px;
}
#monsterEyes{
    height: 79px;
}
#monsterNose{
    height: 86px;
}
#monsterMounth{
    height: 86px;
}

body{
    background: black;
}

#container{
    position: absolute;
    top:0;
    left:0;
}

.lightning{
    position: absolute;
    top:0;
    left:0;
    display: none;
}

#picure{
    border: solid white 12px;
    position: absolute;
    top: 3em;
    left:800px;
    width: 300px;
    height: 200px;
    opacity: 0.9;

}